:root{
    --blanco:#ffffff;
    --oscuro:#03053a;
    --primario: #187e29;
    --secundario: #0077b6;
    --gris: #d2d7db;
}

html{
    font-size: 62.5%;
}


body{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}


/*utilidades*/
contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--primario);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}


.Titulo{
    color: var(--secundario);
    text-align: center;
    font-size: 3.8rem;
}

.Titulo span{
    color: var(--primario);
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column  ;
    justify-content: space-around;
    background-color: var(--primario);
}


@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}



.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
}


.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--secundario);
}