:root{
    --blanco:#ffffff;
    --oscuro:#03053a;
    --primario: #187e29;
    --secundario: #0077b6;
    --gris: #d2d7db;
}

html{
    font-size: 62.5%;
}


body{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}


h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}


h3{
    font-size: 2.6rem;
}

h1,h2,h3{
    text-align: center;
}

/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--primario);
}

.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;
}


@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}


.Titulo{
    color: var(--secundario);
    text-align: center;
    font-size: 3.8rem;
}

.Titulo span{
    color: var(--primario);
    font-size: 2rem;
}


.navegacion-principal{
    display: flex;
    flex-direction: column  ;
    justify-content: space-around;
    background-color: var(--primario);
}


@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}



.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
}


.navegacion-principal a:hover{
    color: var(--oscuro);
    background-color: var(--secundario);
}

/*estilos para monitor*/
.monitor{
    background-image: url("../imagenes/monitor.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-monitor  {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--blanco);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion{
    display: flex;
    justify-content: center;
}


.micontenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}


@media (min-width:768px) {
    .micontenido{
        flex-direction:row;
    }
}


.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

.contenido h3{
    font-weight: normal;
    color: var(--primario);
}

.contenido p{
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
}

.icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}